* text=auto
*.py text eol=lf
*.md text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.cff text eol=lf
*.cjs text eol=lf
*.bib text eol=lf
*.csv text eol=crlf
*.pdf binary
*.docx binary
*.png binary
